* {
  font-family: 'Maven Pro', sans-serif;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

header{
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

nav {
  display: flex;
  padding: 20px ;
}

ul{
  display: flex;
  align-items: center;
  height: 100%;
}

li{
  margin-left: 20px;
}

a{
  text-decoration: none;
}